@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Ubuntu', 'Arial';
}

/* Disable outline */
:focus {
  outline: unset;
}

@layer components {

  @screen laptop {
    .main-container {
      max-width: 1000px;
      height: calc(100% - 40px);
    }
  }

  @screen desktop {
    .main-container {
      max-width: 1000px;
      height: calc(100% - 80px);
    }
  }

  /* Book Counter slide animation */

  @screen laptop {
    .slidein-enter-from, .slidein-leave-to {
      width: 100%;
      opacity: 0;
    }

    .slidein-enter-active {
      transition: all 0.3s ease-in-out;
      animation: slidein-anim 0.3s linear;
    }
    .slidein-leave-active {
      transition: all 0.3s ease-in-out;
      animation: slideout-anim 0.3s linear;
    }

    @keyframes slideout-anim {
      0% {
        height: 6rem;
      }
      100% {
        height: 0rem;
      }
    }

    @keyframes slidein-anim {
      0% {
        height: 0rem;
      }
      100% {
        height: 6rem;
      }
    }
  }

  @screen desktop {
    .slidein-enter-from, .slidein-leave-to {
      width: 100%;
      opacity: 0;
    }

    .slidein-enter-active {
      transition: all 0.3s ease-in-out;
      animation: slidein-anim 0.3s linear;
    }
    .slidein-leave-active {
      transition: all 0.3s ease-in-out;
      animation: slideout-anim 0.3s linear;
    }

    @keyframes slideout-anim {
      0% {
        height: 8rem;
      }
      100% {
        height: 0rem;
      }
    }

    @keyframes slidein-anim {
      0% {
        height: 0rem;
      }
      100% {
        height: 8rem;
      }
    }
  }
  .thin-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-300 overflow-y-scroll overflow-x-hidden scrollbar-thumb-rounded-full scrollbar-track-rounded-full
  }

  .duebooks-title {
    @apply desktop:w-160 laptop:w-100px overflow-hidden whitespace-nowrap truncate
  }

  .duebooks-title-sm {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@layer utilities {
  .cancel-button-red {
    background: #C58585;
  }

  .custom-shadow {
    @apply shadow-sm hover:shadow-md transition duration-150
  }

  @screen laptop {
    .custom-scroll-container {
      height: calc(100% - 32px - 1.9rem);
    }
    .w-title-bar {
      width: 1366px;
    }
  }

  @screen desktop {
    .custom-scroll-container {
      height: calc(100% - 32px - 1.9rem);
    }
    .w-title-bar {
      width: 1920px;
    }
  }

}
