@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regualar */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Regular.ttf');
  src: url('~@/assets/fonts/Ubuntu-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Bold.ttf');
  src: url('~@/assets/fonts/Ubuntu-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Italic.ttf');
  src: url('~@/assets/fonts/Ubuntu-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-BoldItalic.ttf');
  src: url('~@/assets/fonts/Ubuntu-BoldItalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Medium.ttf');
  src: url('~@/assets/fonts/Ubuntu-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-MediumItalic.ttf');
  src: url('~@/assets/fonts/Ubuntu-MediumItalic.ttf') format('ttf');
  font-weight: 500;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-Light.ttf');
  src: url('~@/assets/fonts/Ubuntu-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}

/* Light Italic */
@font-face {
  font-family: 'Ubuntu';
  src: url('~@/assets/fonts/Ubuntu-LightItalic.ttf');
  src: url('~@/assets/fonts/Ubuntu-LightItalic.ttf') format('ttf');
  font-weight: 200;
  font-style: italic;
}

* {
  font-family: 'Ubuntu', 'Arial';
}

/* Disable outline */
:focus {
  outline: unset;
}

@layer components {
  .main-container {
    height: calc(100% - 20px);
  }
  .thin-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-300 overflow-y-scroll overflow-x-hidden scrollbar-thumb-rounded-full scrollbar-track-rounded-full
  }

  .duebooks-title {
    @apply desktop:w-160 laptop:w-100px overflow-hidden whitespace-nowrap truncate
  }

  .duebooks-title-sm {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@layer utilities {
  .cancel-button-red {
    background: #C58585;
  }

  .custom-shadow {
    @apply shadow-sm hover:shadow-md transition duration-150
  }

  @screen laptop {
    .custom-scroll-container {
      height: calc(100% - 32px - 1.9rem);
    }
    .w-title-bar {
      width: 1366px;
    }
  }

  @screen desktop {
    .custom-scroll-container-desktop {
      height: calc(100% - 32px - 1.9rem);
    }
    .w-title-bar {
      width: 1920px;
    }
  }

}
