@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainview-container {
    @apply h-full w-full
   }
  .mainview-grid {
      @apply grid grid-cols-2 laptop:gap-x-2 laptop:gap-y-4 desktop:gap-8 desktop:pr-20 desktop:pl-20 laptop:pr-6 laptop:pl-4 
  }

  .duebooks-title {
    @apply desktop:w-160 laptop:w-100px overflow-hidden whitespace-nowrap truncate
  }


  /* .duebooks-title {
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } */

  .duebooks-title-sm {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@layer utilities {
  .w-title-bar {
    width: 1366px;
  }
}